<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components" >
<h:head>
    <title>MAIN</title>
    <h:outputStylesheet library="css" name="main.css"/>
    <h:outputScript library="js" name="scripts.js"/>
    <link rel="shortcut icon" href="#{resource['img/vt_logo.png']}"/>

</h:head>

<h:body onload="drawCanwas('canvas','#{ArCh.r / 2}')">
    <div class="container header">
        <span class="left">Гр. P3210</span>
        <span class="center_names">Заводов Андрей / Черных Дмитрий</span>
        <span class="right">Вар. 1027</span>
    </div>

    <div class="container content">
        <h:form id="form">
            <div class="form_contant" style="margin-left:30px;">
                <h:outputLabel for="X" value="Координата X : " /><h:outputText id="xValue" value="#{ArCh.x / 10}"/><br/>
                <ace:sliderEntry style="margin-top: 10px;" id="X"
                                 stepPercent="1.25" value="#{ArCh.x}" min="-40" max="40" length="200" showLabels="false">
                    <ace:ajax render="xValue" event="slide" execute="X"/>
                </ace:sliderEntry>


                <h:outputLabel for="Y" value="Координата Y:" /><br/>
                <h:inputText autocompvare="off" id="Y" value="#{ArCh.y}" style="width: 200px; margin-left: 0;">
                    <f:validateDoubleRange minimum="-5.0" maximum="5.0" />
                    <ace:ajax render="errMsg" execute="Y"/>
                </h:inputText>
                <br/>

                <h:outputLabel for="R" value="Коэффициент R: " /> <h:outputText id="rValue" value="#{ArCh.r / 2}"/><br/>
                <ace:sliderEntry style="margin-top: 10px;" id="R" value="#{ArCh.r}"
                                 min="2" max="8" stepPercent="16.6666666" length="200" showLabels="false">
                    <ace:ajax event="slide" render="rValue" execute="R" />
                    <ace:ajax execute="R" render="table" />
                </ace:sliderEntry>

                <h:commandButton value="Проверить" id="button" class="submit" action="#{ArCh.newPoint()}"
                                 style="margin: 10px 0 0 0; width: 200px">
                    <f:ajax execute="@form" render="table" />
                </h:commandButton>

                <div style="text-align: center; max-width: 200px;"><h:message style="color: red" id="errMsg" for="Y"/></div>
            </div>

        </h:form>

        <canvas id="canvas" width="300" height="300" onclick="clicCanvas('canvas','#{ArCh.r / 2}')"
                    style="background-color: white; border-radius: 10px;" ></canvas>


        <h:panelGroup id="table">
            <h:outputScript>
                drawCanwas('canvas','#{ArCh.r / 2}');
            </h:outputScript>
            <ui:repeat value="#{ArCh.points}" var="elem">
                <h:outputScript>
                    drawPoint('canvas', '#{150 + elem.x/elem.r*130}','#{150 - elem.y/elem.r*130}', '#{elem.isCheck}');
                </h:outputScript>
            </ui:repeat>
            <h:dataTable style="border-collapse: collapse; width: 600px; margin: 10px 0 10px 45px;"
                         value="#{ArCh.points}" var="point">
                <h:column>
                    <f:facet name="header" >X</f:facet>
                    #{point.x}
                </h:column>
                <h:column>
                    <f:facet name="header">Y</f:facet>
                    #{point.y}
                </h:column>
                <h:column>
                    <f:facet name="header">R</f:facet>
                    #{point.r}
                </h:column>
                <h:column>
                    <f:facet name="header">CHECK</f:facet>
                    #{point.getIsCheck()}
                </h:column>
            </h:dataTable>
        </h:panelGroup>



           <a href="index.xhtml" class="center_btn">
               <input class="submit" type="submit" name="submit" value=" На стартовую страницу "/>
           </a>
    </div>
       <div class="container footer">
               <span class="left">
                 <a href="https://se.ifmo.ru/">
                   <img id="VT_logo" src="#{resource['img/vt_logo.png']}" width="50" height="50" alt="logo"/>
                 </a>
               </span>
           <span class="center_pip" style="text-align: center">ПИП 2017 г.</span>
           <span class="right">Е. Цопа</span>
       </div>

   </h:body>
   </html>