body {
    background-image: url(#{resource[ 'img/back.jpg' ]});
    background-size: 100%;
    background-attachment: fixed;
    margin: 0;
}

div {
    margin-bottom: 5px;
}

img{
    border-radius: 10px;
}

#clock {
    font-size: xx-large;
}

.container {
    border-radius: 10px;
    background-color: #282c34;
    font-size: 20px;
    font-family: serif;
    color: #4bb6a7;
    padding: 1em 0;
    margin: 0 auto;
    width: 700px;
    margin-bottom: 10px;
}

.left {
    float: left;
    padding-left: 20px;
}

.right {
    float: right;
    padding-right: 20px;
}

.center_names{
    padding-left: 100px;
}

.center_pip{
    padding-left: 230px;
}

.center_clock{
    padding-left: 300px;
}

.center_btn{
    padding-left: 256px;
}

.task_image {
    border-radius: 20px;
    margin: 20px;
}

.task_text {
    border-radius: 20px;
    height: 217px;
    margin: 20px 0px 20px 20px;
}

#VT_logo {
    margin-top: -14px;
}

.task-container, .form-container {
    text-align: left;
}

input {
    margin: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    height: 24px;
}

#R, #Y {
    width: 140px;
}

form {
    display: inline-block;
    margin: 10px 40px;
    vertical-align: bottom;
    height: 280px;
}

.answer {
    display: inline-block;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    background-color: #333333;
    margin: 10px 40px;
}

.submit {
    width: 165px;
    background: #4bb6a7 !important;
    height: 30px;
    border-radius: 10px;
}

.submit:hover {
    background: #d19a62 !important;
}

.submit:active {
    background: #b7403e !important;
}

.table {
    border-collapse: collapse;
}

th, td {
    border: 2px solid #4bb6a7;
    padding: 5px;
}

img.zoom {
    cursor: pointer;
    height: 217px;
    text-align: center;
}

img.zoom:hover {
    width: 650px;
    margin: 20px 0 0 0;
}
