<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>index</title>
    <h:outputStylesheet library="css" name="main.css"/>
    <h:outputScript library="js" name="clock.js"/>
    <link rel="shortcut icon" href="#{resource['img/vt_logo.png']}"/>
</h:head>
<h:body>
    <div class="container header">
        <span class="left">Гр. P3210</span>
        <span class="center_names">Заводов Андрей / Черных Дмитрий</span>
        <span class="right">Вар. 1027</span>
    </div>

    <div class="container task">
        <img src="#{resource['img/task_text_2.png']}"
             style="margin-left: 47px" width="400" height="200" alt="task_text_2"/>
        <img src="#{resource['img/task_img.png']}" width="200" height="200" alt="task_img"/>
        <img src="#{resource['img/task_text_1.png']}"
             style="margin-left: 47px" width="605" height="100" alt="task_text_1"/>
    </div>

    <div class="container content">
        <div id="clock" class="center_clock"></div>
        <a href="main.xhtml" id="form" class="center_btn">
            <input class="submit" type="submit" name="submit" value=" Перейти к форме "/>
        </a>
    </div>

    <div class="container footer">
            <span class="left">
              <a href="https://se.ifmo.ru/">
                <img id="VT_logo" src="#{resource['img/vt_logo.png']}" width="50" height="50" alt="logo"/>
              </a>
            </span>
        <span class="center_pip" style="text-align: center">ПИП 2017 г.</span>
        <span class="right">Е. Цопа</span>
    </div>
</h:body>

</html>
